<div class='flex items-center justify-center h-screen'>
  <div class='text-center'>
    <h1 class='font-extrabold text-4xl pb-20'>How's your day today?</h1>
    <%= link_to 'Enter', '#', class: 'inline-block bg-blue-500 px-4 py-2 text-white rounded hover:bg-blue-600' %>
  </div>
</div>
