<h1><%= Date.today.strftime('%m月%d日') %> みんなの投稿一覧</h1>

<div id="book">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="post">
        <time><%= post.created_at.strftime('%Y年%m月%d日 %H:%M') %></time>
        <h2><%= post.title %></h2>
        <p><%= simple_format(h(post.body)) %></p>
      </div>
    <% end %>
  <% else %>
    <p>投稿はありません</p>
  <% end %>
</div>

<script>
</script>
