<div class='flex w-full h-20 bg-blue-900 text-white'>
  <div class="ms-auto space-x-6 mr-10 mt-8">
    <%= link_to t('header.top_page'), root_path  %>
    <%= link_to t('header.sign_up'), new_user_registration_path %>
    <%= link_to t('header.sign_in'), new_user_session_path %>
  </div>
</div>