<div class='flex w-full h-20 bg-blue-900 text-white'>
  <div class="ms-auto space-x-6 mr-10 mt-8">
    <%= link_to 'TOPページ', root_path  %>
    <%= link_to '会員登録', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
  </div>
</div>